doctype html
html(lang="ru-RU")
  head
    link(rel="stylesheet" href="style.css")
    script(src="https://use.fontawesome.com/d573432fa9.js")
  body
    header
      div.container_12.clearfix
        div.grid_15
          div.topbar.clearfix
            ul.topbar-menu.pull-left
              li 
                a(href="#") О нас
              li 
                a(href="#") Условия
              li 
                a(href="#") Оплата 
              li 
                a(href="#") Доставка
              li 
                a(href="#") Гарантия
              li 
                a(href="#") Проверка украденных часов
              li 
                a(href="#") FAQ
              li 
                a(href="#") Новости
              li 
                a(href="#") Статьи
              li 
                a(href="#") Контакты           
            div.topbar-misc.pull-right
              ul.social-links
                li
                  a(href="#")
                    img(src="img/facebook.png" alt="Facebook")
                li
                  a(href="#")
                    img(src="img/vk.png" alt="Vkontakte")
                li
                  a(href="#")
                    img(src="img/twitter.png" alt="Twitter")
                li
                  a(href="#")
                    img(src="img/google.png" alt="Google Plus")
                li
                  a(href="#")
                    img(src="img/ok.png" alt="Odnoklasniki")
                li
                  a(href="#")
                    img(src="img/insta.png" alt="Instagram")  
              div.lang 
                div.dropdown
                  span RUS 
                  i(class="fa fa-chevron-down" aria-hidden="true")  
              div.currency                
                div.dropdown
                  span USD 
                  i(class="fa fa-chevron-down" aria-hidden="true")
              div.userblock
                a(class="enter" href="#")
                  img(src="1")
                  span ВХОД
                a(class="register" href="#")
                  span РЕГИСТРАЦИЯ                                            
