mixin singleArticle(image)
  div.single-article
    div.row
      div.col-md-6
        div.article-prev-pic
          img(src=image)
      div.col-md-6  
        div.article-prev-content
          div.date 01.01.2017
          div.prev-headings
            h2.prev-title Rolex Cellini Moonphase
            p Первая модель Rolex с индикацией фаз луны с начала 50-х годов прошлого века.
          
    

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="style.css")
    script(src="https://use.fontawesome.com/d573432fa9.js")
body    


div.container
  div.row
    div.col-md-12      
      h1.pageheading Новости 
        div.breadcrumbs 
          a.root(href="#") Главная 
          a.current(href="#") Швейцарские часы
  div.newsblock
    div.row
      div.col-md-12
        div.row
          div.col-md-3
            include sidebar.pug
          div.col-md-9  
            div.newslist
              +singleArticle("img/watch-placeholder.jpg")
              +singleArticle("img/watch-placeholder.jpg")
              +singleArticle("img/watch-placeholder.jpg")
        div.row
          div.col-md-12      
            include pagination.pug  
      
      
