include header.pug


div.container
  h1.pageheading Новости
  div.breadcrumbs 
    a.root(href="#") Главная 
    a.current(href="#") Швейцарские часы
  div.newsblock.clearfix
    include sidebar.pug
    div.single-body
      div.single-prev-pic
        img(src="img/watch-placeholder.jpg")
      div.single-prev-content
        div.clearfix
          div.date.single-date 01.01.2017
        h2.single-heading Rolex Cellini Moonphase    
        p Речь зашла об одном из соседних помещиков. «Дрянь, аристократишко», — равнодушно заметил Базаров, который встречался с ним в Петербурге.	Сухой кашель раздался за сиренями. Фенечка мгновенно отодвинулась на другой конец скамейки. Павел Петрович показался, слегка поклонился и, проговорив с какою-то злобною унылостью: «Вы здесь», — удалился. Фенечка тотчас подобрала все розы и вышла вон из беседки. «Грешно вам, Евгений Васильевич», — шепнула она, уходя. Неподдельный упрек слышался в ее шепоте.
        
        blockquote Речь зашла об одном из соседних помещиков. «Дрянь, аристократишко», — равнодушно заметил Базаров, который встречался с ним в Петербурге.	Сухой кашель раздался за сиренями. Фенечка мгновенно отодвинулась на другой конец скамейки. Павел Петрович показался, слегка поклонился и, проговорив с какою-то злобною унылостью: «Вы здесь», — удалился. Фенечка тотчас подобрала все розы и вышла вон из беседки. «Грешно вам, Евгений Васильевич», — шепнула она, уходя. Неподдельный упрек слышался в ее шепоте.
        
        p Речь зашла об одном из соседних помещиков. «Дрянь, аристократишко», — равнодушно заметил Базаров, который встречался с ним в Петербурге.	Сухой кашель раздался за сиренями. Фенечка мгновенно отодвинулась на другой конец скамейки. Павел Петрович показался, слегка поклонился и, проговорив с какою-то злобною унылостью: «Вы здесь», — удалился. Фенечка тотчас подобрала все розы и вышла вон из беседки. «Грешно вам, Евгений Васильевич», — шепнула она, уходя. Неподдельный упрек слышался в ее шепоте.
      

include footer.pug
