@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=cyrillic');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Grid 1200 */
.container_12 {
width: 1200px;
margin-left: auto;
margin-right: auto
}
.grid_1 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_2 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_3 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_4 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_5 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_6 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_7 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_8 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_9 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_10 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_11 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_12 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.grid_15 {
position: relative;
display: inline;
float: left;
margin-left: 15px;
margin-right: 15px
}
.alpha {
margin-left: 0px
}
.omega {
margin-right: 0px
}
.container_12 .grid_1 {
width: 70px
}
.container_12 .grid_2 {
width: 140px
}
.container_12 .grid_3 {
width: 210px
}
.container_12 .grid_4 {
width: 280px
}
.container_12 .grid_5 {
width: 350px
}
.container_12 .grid_6 {
width: 420px
}
.container_12 .grid_7 {
width: 490px
}
.container_12 .grid_8 {
width: 560px
}
.container_12 .grid_9 {
width: 630px
}
.container_12 .grid_10 {
width: 700px
}
.container_12 .grid_11 {
width: 770px
}
.container_12 .grid_12 {
width: 840px
}
.container_12 .grid_15 {
width: 1172px
}
.container_12 .prefix_1 {
padding-left: 70px
}
.container_12 .prefix_2 {
padding-left: 140px
}
.container_12 .prefix_3 {
padding-left: 210px
}
.container_12 .prefix_4 {
padding-left: 280px
}
.container_12 .prefix_5 {
padding-left: 350px
}
.container_12 .prefix_6 {
padding-left: 420px
}
.container_12 .prefix_7 {
padding-left: 490px
}
.container_12 .prefix_8 {
padding-left: 560px
}
.container_12 .prefix_9 {
padding-left: 630px
}
.container_12 .prefix_10 {
padding-left: 700px
}
.container_12 .prefix_11 {
padding-left: 770px
}
.container_12 .suffix_1 {
padding-right: 70px
}
.container_12 .suffix_2 {
padding-right: 140px
}
.container_12 .suffix_3 {
padding-right: 210px
}
.container_12 .suffix_4 {
padding-right: 280px
}
.container_12 .suffix_5 {
padding-right: 350px
}
.container_12 .suffix_6 {
padding-right: 420px
}
.container_12 .suffix_7 {
padding-right: 490px
}
.container_12 .suffix_8 {
padding-right: 560px
}
.container_12 .suffix_9 {
padding-right: 630px
}
.container_12 .suffix_10 {
padding-right: 700px
}
.container_12 .suffix_11 {
padding-right: 770px
}
.container_12 .push_1 {
left: 80px
}
.container_12 .push_2 {
left: 160px
}
.container_12 .push_3 {
left: 240px
}
.container_12 .push_4 {
left: 320px
}
.container_12 .push_5 {
left: 400px
}
.container_12 .push_6 {
left: 480px
}
.container_12 .push_7 {
left: 560px
}
.container_12 .push_8 {
left: 640px
}
.container_12 .push_9 {
left: 720px
}
.container_12 .push_10 {
left: 800px
}
.container_12 .push_11 {
left: 880px
}
.container_12 .pull_1 {
left: -80px
}
.container_12 .pull_2 {
left: -160px
}
.container_12 .pull_3 {
left: -240px
}
.container_12 .pull_4 {
left: -320px
}
.container_12 .pull_5 {
left: -400px
}
.container_12 .pull_6 {
left: -480px
}
.container_12 .pull_7 {
left: -560px
}
.container_12 .pull_8 {
left: -640px
}
.container_12 .pull_9 {
left: -720px
}
.container_12 .pull_10 {
left: -800px
}
.container_12 .pull_11 {
left: -880px
}
.clear {
width: 0px;
display: block;
height: 0px;
visibility: hidden;
clear: both;
overflow: hidden
}
.clearfix:after {
line-height: 0;
width: 0px;
display: block;
height: 0px;
visibility: hidden;
clear: both;
font-size: 0px;
content: ' '
}
.clearfix {
display: inline-block
}
* html .clearfix {
height: 1%
}
.clearfix {
display: block
}

.container {
  width: 1183px;
  margin: auto;
}

/*** INIT ***/

body {
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #403d3c;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Serif', serif;
	color: #000000;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*** HEADER ***/

header {
  background-color: #0a224b;
}

.masterhead-wrapper {
	background: #001c4b url('img/footer-bg.png');
	background-position: right top;
	background-repeat: no-repeat;
}

.topbar-wrapper {
  background-color: #061d45;
}

.topbar-menu {
  margin-top: 10px;
  margin-bottom: 12px;
}

.topbar-menu li {
  display: inline;
  margin-right: 10px;
}

.topbar-menu li:last-of-type {
  margin-right: 0;
}

.topbar-menu a {
  color: #59667d;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.social-links {
  margin-top: 9px;
  float: left;
}

.social-links li {
  display: inline;
  margin-right: 9px;
}

.social-links li:last-of-type {
  margin-right: 0;
}

.lang, .currency {
  float: left;
  margin-left: 10px;
  margin-top: 12px;
  color: #59667d;
  font-size: 12px;
}

.dropdown {
  cursor: pointer;
}

.currency {
  margin-left: 10px;
}

.dropdown:after {
	content: "";
	display: block;
	background: url("img/chev.png") no-repeat;
	width: 11px;
	height: 7px;
	float: right;
	margin: 3px 0 0 3px;
	cursor: pointer;
}

.lang span {
  line-height: 1;
}

a i {
  font-size: 8px;
}

.userblock {
  float: left;
	margin-top: 8px;
	margin-left: 18px;
	padding-top: 5px;
}

.userblock a {
  color: #59667d;
  font-size: 12px;
}

.enter:before {
	content: "";
	display: block;
	background: url("img/userpic.png") no-repeat;
	width: 14px;
	height: 14px;
	float: left;
	margin: -2px 5px 0 0;
}

.enter {
	display: block;
	float: left;
}

.register {
	display: block;
	margin-left: 4px;
	float: left;
}

.logo {
  margin-top: 10px;
  margin-bottom: 8px;
}

.info-block {
  margin-top: 46px;
}

.workhours {
  font-size: 14px;
  color: #9fb1d1;
  margin-left: 70px;
}

.workhours:before {
  content: "";
  display: block;
  background: url("img/workhours.png") no-repeat;
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 5px 0 0;
}

.address {
  font-size: 14px;
  color: #9fb1d1;
  margin-left: 33px;
}

.address:before {
  content: "";
  display: block;
  background: url("img/address.png") no-repeat;
  width: 12px;
  height: 16px;
  float: left;
  margin: 0 5px 0 0;
}

.phone {
  font-size: 14px;
  color: #9fb1d1;
  margin-left: 26px;
}

.phone:before {
  content: "";
  display: block;
  background: url("img/phone.png") no-repeat;
  width: 16px;
  height: 16px;
  float: left;
  margin: 0 5px 0 0;
}

.phone:after {
	content: "";
	display: block;
	background: url("img/chev.png") no-repeat;
	width: 11px;
	height: 7px;
	float: right;
	margin: 3px 0 0 3px;
	cursor: pointer;
}

.search {
  margin-left: 23px;
  margin-top: -12px;
}

.searchbox {
  border: 1px solid #113b91;
  border-radius: 4px;
  background-color: #0a224b;
  width: 250px;
  height: 30px;
}

.additional-menu {
margin-top: 16px;
}

.additional-menu li {
  display: inline;
}

.additional-menu li:first-of-type {
  margin-right: 28px;
}

.additional-menu a {
  color: #af9148;
  font-size: 14px;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
}

.mainmenu-wrapper {
  background-color: #061d45;
}

.menucontainer {
margin-top: 20px;
margin-bottom: 20px;
}

.menucontainer li {
  display: inline;
  margin-right: 28px;
}

.menucontainer li:last-of-type {
  margin-right: 0;
}

.menucontainer a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'PT Serif', serif;
}

.cart {
	background: url('img/cart.png');
	height: 32px;
	width: 32px;
	margin-top: 8px;
	cursor: pointer;
}

.items-quantity {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #ab7252;
	position: relative;
	top: 15px;
	left: -10px;
	text-align: center;
	color: #fff;
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.4;
}

/*** CONTENT ***/

h1.pageheading {
	text-align: center;
	margin-top: 42px;
}

.breadcrumbs {
	text-align: center;
	margin-top: 33px;
	font-size: 14px;
	font-family: 'PT Serif', serif;
}

a.root {
	color: #888888;
}

a.current {
	color: #c29378;
}

.current:before {
	content: ' ';
}

.root:after {
	content: '>';
}

.newsblock {
	margin-top: 43px;
}

.newslist {
	float: left;
	width: 874px;
}

.sidebarmenu {
	margin-top: 25px;
}

.article-prev-pic {
float: left;
}

.article-prev-pic img {
	width: 370px;
}

.date {
	background: #913d0e;
	float: left;
	color: #ffffff;
	font-size: 20px;
	font-family: 'PT Serif', serif;
	padding: 13px 16px;
}

.article-prev-content {
	margin-left: 30px;
	margin-top: 97px;
	width: 470px;
	float: left;
}

.prev-headings {
	float: left;
}

.prev-title {
	margin-top: 26px;
	margin-bottom: 37px;
}

.single-article {
	margin-bottom: 90px;
}

.pagination {
	text-align: center;
	margin-bottom: 80px;
}

.pagination a {
	font-family: 'PT Serif', serif;
	font-size: 30px;
	color: #000;
	padding: 8px 15px;
}

.current a {
	background: #edbf4e;
}

.pagination li {
	display: inline;
	margin-right: 30px;
}

.pagination li:last-of-type {
	margin-right: 0;
}

/*** SINGLE PAGE ***/

.single-body {
	width: 872px;
	float: left;
}

.single-prev-pic {
	width: 100%;
}

.single-heading {
float: none;	
}

/*** SIDEBAR ***/

.sidebar {
	float: left;
	width: 270px;
	margin-right: 30px;
}

.sidebarmenu label {
	color: #636363;
	font-size: 14px;
	font-family: 'PT Serif', serif;
	text-transform: uppercase;
}

.sidebarmenu label:hover {
	color: #000000;
	border-bottom: 1px solid #edbf4e;
	font-weight: bold;
}

.sidebarmenu li {
	margin-bottom: 14px;
}

.sidebarmenu li:last-of-type {
	margin-bottom: 32px;
}

h4.sex {
	margin-top: 116px;
}

.mc ul li label {
	text-transform: lowercase;
}

.morebrands {
	text-transform: uppercase;
	color: #0a224b;
	font-size: 14px;
	font-family: 'PT Serif', serif;
	margin-top: 20px;
}

/*** FOOTER ***/
footer {
	padding-top: 79px;
	padding-bottom: 40px;
	background: #001c4b url('img/footer-bg.png');
	background-position: right center;
	background-repeat: no-repeat;
}

.footer-nav {
	width: 270px;
	margin-right: 30px;
	float: left;
}

.footer-nav:last-of-type {
	margin-right: 0;
}

h3.footernav {
	color: #987c64;
	text-transform: uppercase;
	font-family: 'PT Serif', serif;
	font-size: 16px;
	margin-bottom: 22px;
}

.footer-nav ul a {
	color: #8b96aa;
	font-size: 13px;
}

.footer-nav ul li {
	line-height: 25px;
}

.topspace {
	margin: 28px 0 20px 0;
}

.bitcoin {
	display: block;
	margin-top: 17px;
}

h3.cont {
	margin-top: 23px;
	margin-bottom: 23px;
}

p.cont {
	color: #8b96aa;
	font-size: 13px;
	line-height: 24px;
}

.sub-footer {
	background-color: #061d45;
}

.copyright {
	color: #8b96aa;
	font-size: 12px;
	padding: 25px 0 25px 0;
}

.copyright span:last-of-type {
	color: #987c64;
}

.counter {
	padding-top: 18px;
}
